
@media screen and ( max-width: 375px) {
    .A{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh; 
        justify-content: center;
    }

   .T{
        border-top: 5px solid #333562;
        border-bottom: 5px solid #333562;
        font-size: 30px;
    }
    .B{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .C{
        margin-top: 120px;
        margin-bottom: 18px;
    }
    button{
        background: #333562;
        border-radius: 20px;
        width:327px;
        height:56px;
        border: none;
        color: white;
        font-size: 16px;
        font-family: Roboto;
    }    
    .button-start{
        display: flex;
        margin-top: 16px;
        margin-bottom: 36px;
    }
    *{
        margin: 0;
    }
     .tt{
        height: 5em;
        margin: 0;
       color: #333562;
    }
    
    body{
        height:100vh;
        background: linear-gradient(180deg, #F5F6FB 0%,  #B0B8DE 100%);
    }


    /* REGISRER */

.TR h1{
    font-size: 32px;
    color: #333562;
}
.TR{
    position: absolute;
left: 18%;
right: 18.13%;
top: 29.93%;
bottom: 66.63%;
}
.Phone{   
     display: flex;
    flex-direction: column;
    position: absolute;
    width: 327px;
    height: 56px;
    left: 24px;
    top: 361px;


}

.bird{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #333562;

}
.Br{ border: none;
    margin-top: 14px;
    background: #F5F6FB;
    border: 1px solid rgba(51, 53, 98, 0.5);
    border-radius: 20px;
    box-sizing: border-box;
}
.button-con button{
    background: #333562;
    border-radius: 20px;
    height: 63px;
    width: 327px;
    border: none;
    color: #FFFFFF;

}
.button-con{
    position: absolute;
width: 327px;
height: 56px;
left: 24px;
top: 441px;
}
/* SMS */
.sms{
    display: flex;
    flex-direction: column;
}
.j{ display: flex;
 justify-content:center;
 align-self: center;
 flex-direction: column;
 height: auto;
 width: auto;
}

.cn{
    position: absolute;
    left: 6.4%;
    right: 6.4%;
    bottom: 82.27%;
    text-align: center;
    color: #333562;
    margin-top: 24px;
}

.sms input{
    background: #F5F6FB;
    border: 1px solid rgba(51, 53, 98, 0.5);
    border-radius: 20px;
}

.M{
    position: absolute;
left: 6.4%;
right: 29.87%;
top: 25.71%;
bottom: 69.83%;
}
.sms-A{
    box-sizing: border-box;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 32%;
    bottom: 62%;
    background: #F5F6FB;
    border: 1px solid rgba(51, 53, 98, 0.5);
    border-radius: 20px;
    margin-top: -3px;

}

.P{
    position: absolute;
left: 6.4%;
right: 6.4%;
top: 42.98%;
bottom: 50.12%;
text-align: center;
}
.P button{
    background: #333562;
border-radius: 20px;
height: 63px;
width: 327px;
color:white;
}
.Send-again{
    position: absolute;
left: 6.4%;
right: 6.4%;
top: 55.54%;
bottom: 42%;
color: #333562;
text-align: center;
}
.back{
    color: #5558a3;
    margin: 20px;
}
}